.p-organizationchart-node-content {
  &:hover {
    button {
      display: block;
    }
  }
}

.p-organizationchart-node-content .p-node-toggler {
  transform: rotate(180deg);
}

.p-organizationchart-node-content div {
  padding: 4px;
}