.orgchart-visible {
  visibility: visible;
}

.orgchart-hidden {
  visibility: hidden;
}

.p-organizationchart {
  cursor: grab;
}

.p-organizationchart-node-content {
  min-width: 150px;

  &:hover {
    button {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }
  }
}

.p-organizationchart-node-content .p-node-toggler {
  transform: rotate(180deg);
}

.p-organizationchart-node-content div {
  padding: 4px;
}