* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Open-Sans, Helvetica, Sans-Serif;
  padding: 20px 40px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

a {
  text-decoration: none;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, p {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.25;
}
